sample_data/playbooks/pb_set_3rd_sample.yml
id: pb_set_3rd_sample
version: -1
name: Set 3rd Sample Playbook
description: This playbook calls a sub-playbook to set samplefield8. It also set samplefield5, and samplefield7.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: d7920fee-8ada-4d48-8197-2e08d19a54dc
    type: start
    task:
      id: d7920fee-8ada-4d48-8197-2e08d19a54dc
      version: -1
      name: ""
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "6"
      - "8"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "3":
    id: "3"
    taskid: b52aade3-aa90-4343-8417-d4aa26803d62
    type: title
    task:
      id: b52aade3-aa90-4343-8417-d4aa26803d62
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      description: ''
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "67":
    id: "67"
    taskid: ff2153f9-61b9-43ed-8e5f-ca842225481e
    type: playbook
    task:
      id: ff2153f9-61b9-43ed-8e5f-ca842225481e
      version: -1
      name: SUB Set Sample Fields
      description: |
       This is a sub-playbook that sets samplefield8.
      playbookName: SUB Set Sample Fields
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      EmailID:
        complex:
          root: incident
          accessor: emailmessageid
      From:
        complex:
          root: incident
          accessor: emailfrom
          transformers:
          - operator: replaceMatch
            args:
              regex:
                value:
                  simple: (?i).*<([A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,})>
              replaceWith:
                value:
                  simple: $1
      User:
        complex:
          root: incident
          accessor: emailto
          transformers:
          - operator: replaceMatch
            args:
              regex:
                value:
                  simple: (?i).*<([A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,})>
              replaceWith:
                value:
                  simple: $1
    separatecontext: true
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 480,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
  '76':
    id: '76'
    taskid: a3ab8a8f-116c-4471-8912-27cc94fa5234
    type: regular
    task:
      id: a3ab8a8f-116c-4471-8912-27cc94fa5234
      version: -1
      name: Set sample fields
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - '4'
    scriptarguments:
      samplefield5:
        simple: ${Endpoint.[0].ID}
      samplefield7:
        simple: ${Endpoint.[0].IPAddress}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 385,
        "width": 810,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs:
  description: The headers of the email.
fromversion: 5.0.0
tests:
- No tests (deprecated)
deprecated: true